#webgui_canvas {
  .box_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;

    .svg_canvas {
      position: absolute;
      left: 0;
      top: 0;

      .connection {
        stroke-width: 2;
        stroke: black;
      }
    }

    .box {
      position: absolute;
      border: 1px solid black;
      background-color: #eee;

      .internals {
        display: block;
      }
      .title {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        font-style: italic;
        background-color: rgba(0,0,0,0.3);
      }
      .property {
        width: 90%;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid rgba(0,0,0,0.5);
      }

      .decorators {
        position: absolute;
        border: 1px solid black;
        background-color: rgba(0,0,0,0.5);
      }
      .inpus {
      }
      .output {
      }
    }
  }
}