#webgui_canvas {
  .box_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;

    .box {
      position: absolute;
      border: 1px solid black;
      background-color: #eee;

      .title {
        width: 100%;
        height: 24px;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        text-decoration: italic;
      }
    }
  }
}